<div class="home-container-outer">
  <div class="home-container-inner">
    <mat-toolbar class="public-header-container" color="primary">
      <public-header></public-header>
    </mat-toolbar>
    <mat-card>
      <form>
        <mat-form-field>
          <mat-label>Affiliation</mat-label>
          <input matInput name="affiliation" [(ngModel)]="affiliation">
        </mat-form-field>

        <mat-checkbox color="primary" [(ngModel)]="specialEmployee" name="specialEmployee">Secretary or postal worker?</mat-checkbox><br /><br />
       
       
        <button mat-raised-button (click)="calculateBonus()">Calculate</button><br /><br />

        <span>Your Bonus:</span>
        <p>{{ bonus }}</p>
      </form>
    </mat-card>
  </div>
</div>
