<div class="home-container-outer">
  <div class="home-container-inner">
    <mat-toolbar class="public-header-container" color="primary">
      <public-header
        (toggle)="onToggle($event)"
        [sideNavOpened]="sideNavOpened"
      ></public-header>
    </mat-toolbar>
    <mat-card>
      <form>
        <label>Affiliation:</label>
        <input type="text" name="affiliation" [(ngModel)]="affiliation">

        <label>Special employee:</label>
        <input type="checkbox" [(ngModel)]="specialEmployee" [ngModelOptions]="{standalone: true}" />

        <button type="button" (click)="calculateBonus()">Calculate</button>

        <span>Your Bonus:</span>
        <p>{{ bonus }}</p>
      </form>
    </mat-card>
  </div>
</div>
